@import "imports";
.form-section, .form-intro, fieldset{
	padding:30px 30px 15px 30px;
	border-bottom:1px #d6c9af solid;
	@include top-highlight(0.6);
	@include letterpress;
	margin:0;
}
.form-intro, .form-submit{
	background:$form-special-bg;
	padding:30px;
	font-size:14px;
	color:$regular-text;
	@include linear-gradient(#e3e0cd,$form-special-bg);
}
.form-section-title{
	margin-bottom:20px;
	overflow:hidden;
}
.form-section-title h3{
	float:left;
}
.form-section-title h4{
	float:left;
	font-weight:200;
	color:$info-text;
	font-size:16px;
	line-height:38px;
	margin-left:5px;
}
.form-section-title h4:before{
	content:"—";
}
.form-section li{
	overflow:hidden;
	margin-bottom:15px;
}
.form-section label{
	display:block;
	font-weight:bold;
	margin-bottom:5px;
	@include letterpress;
}
.form-section .label{
	display:block;
	overflow:hidden;
}
.form-section .label label{
	float:left;
}
.form-section p.required label:after{
	display:inline-block;
	content:"*";
	color:red;
	margin-left:5px;
}
.form-section input, .textfield{
	display:block;
	background:#fff;
	@include border-radius(3px);
	@include box-shadow(0px 1px rgba(255,255,255,0.5), inset 1px 2px 5px rgba(0,0,0,0.15));
	border:1px #8e8d81 solid;
	padding:5px 10px;
}
.field_with_errors{
	color:$error-text;
}
.field_with_errors input{
	border-color:$error-text;
}
.form-section span.info{
	color:$info-text;
	display:block;
	line-height:26px;
}
.form-submit input, #sign-up .submit{
	background: #A05EDB; /* old browsers */
	width:190px;
	height:40px;
	line-height:40px;
	padding:0;
	color:#fff;  
	text-shadow:0px 1px 1px rgba(0,0,0,0.5);	
	font-weight:bold;
	border:1px #585329 solid;   
	@include border-radius(3px);               
	@include box-shadow(inset 0px 1px rgba(255,255,255,0.3), 0px 1px rgba(255,255,255,0.6));
	@include linear-gradient(color-stops(#A05EDB, #703B9F))
}
.form-submit input:hover, #sign-up .submit:hover{
	background: #be85f0; /* old browsers */
	@include linear-gradient(color-stops(#be85f0, #8f56c1))	
}
.form-submit input:active, #sign-up .submit:active{
	background: #592d81; /* old browsers */
	@include linear-gradient(color-stops(#8c52bf, #592d81))	
}
.button{
	background: #FDEE65;
	height:30px;
	display:block;
	border:1px #585329 solid;
	color:#544f2e;
	text-align:center;
	line-height:30px;
	text-decoration:none;
	text-transform:uppercase;
	font-size:14px;
	font-weight:500;
	@include letterpress;
	@include box-shadow(0px 1px 0px rgba(255,255,255,0.45), inset 0px 1px 0px rgba(255,255,255,0.3));
	@include border-radius(3px);
	@include linear-gradient(color-stops(#FDEE65, #EAD945))
}
.button:hover{
	color:#1f1f1d;
	@include box-shadow(0px 1px 0px rgba(255,255,255,0.45), inset 0px 1px 0px rgba(255,255,255,0.3),inset 0px 0px 7px rgba(255,255,255,1));
}
.button:active{
	position:relative;
	top:1px;
}
#error_explanation{
	padding:30px;
	background:#f5dbd9;
	@include top-highlight(0.9);
	color:$error-text;
	@include letterpress;
}
#error_explanation h2{
	font-size:18px;
}