@charset "UTF-8";
/* line 2, ../sass/forms.scss */
.form-section, .form-intro, fieldset {
  padding: 30px 30px 15px 30px;
  border-bottom: 1px #d6c9af solid;
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.6);
  -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.6);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
  margin: 0;
}

/* line 9, ../sass/forms.scss */
.form-intro, .form-submit {
  background: #f0edd5;
  padding: 30px;
  font-size: 14px;
  color: #726e62;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0edd5), color-stop(100%, #e3e0cd));
  background-image: -webkit-linear-gradient(#f0edd5, #e3e0cd);
  background-image: -moz-linear-gradient(#f0edd5, #e3e0cd);
  background-image: -o-linear-gradient(#f0edd5, #e3e0cd);
  background-image: linear-gradient(#f0edd5, #e3e0cd);
}

/* line 16, ../sass/forms.scss */
.form-section-title {
  margin-bottom: 20px;
  overflow: hidden;
}

/* line 20, ../sass/forms.scss */
.form-section-title h3 {
  float: left;
}

/* line 23, ../sass/forms.scss */
.form-section-title h4 {
  float: left;
  font-weight: 200;
  color: #a49d84;
  font-size: 16px;
  line-height: 38px;
  margin-left: 5px;
}

/* line 31, ../sass/forms.scss */
.form-section-title h4:before {
  content: "—";
}

/* line 34, ../sass/forms.scss */
.form-section li {
  overflow: hidden;
  margin-bottom: 15px;
}

/* line 38, ../sass/forms.scss */
.form-section label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
}

/* line 44, ../sass/forms.scss */
.form-section .label {
  display: block;
  overflow: hidden;
}

/* line 48, ../sass/forms.scss */
.form-section .label label {
  float: left;
}

/* line 51, ../sass/forms.scss */
.form-section p.required label:after {
  display: inline-block;
  content: "*";
  color: red;
  margin-left: 5px;
}

/* line 57, ../sass/forms.scss */
.form-section input, .textfield {
  display: block;
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 1px rgba(255, 255, 255, 0.5), inset 1px 2px 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 1px rgba(255, 255, 255, 0.5), inset 1px 2px 5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 1px rgba(255, 255, 255, 0.5), inset 1px 2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px rgba(255, 255, 255, 0.5), inset 1px 2px 5px rgba(0, 0, 0, 0.15);
  border: 1px #8e8d81 solid;
  padding: 5px 10px;
}

/* line 65, ../sass/forms.scss */
.field_with_errors {
  color: #d24735;
}

/* line 68, ../sass/forms.scss */
.field_with_errors input {
  border-color: #d24735;
}

/* line 71, ../sass/forms.scss */
.form-section span.info {
  color: #a49d84;
  display: block;
  line-height: 26px;
}

/* line 76, ../sass/forms.scss */
.form-submit {
  overflow: hidden;
}

/* line 79, ../sass/forms.scss */
.form-submit input, #sign-up .submit {
  background: #A05EDB;
  /* old browsers */
  width: 190px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  border: 1px #585329 solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.3), 0px 1px rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.3), 0px 1px rgba(255, 255, 255, 0.6);
  -o-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.3), 0px 1px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 1px rgba(255, 255, 255, 0.3), 0px 1px rgba(255, 255, 255, 0.6);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a05edb), color-stop(100%, #703b9f));
  background-image: -webkit-linear-gradient(top, #a05edb, #703b9f);
  background-image: -moz-linear-gradient(top, #a05edb, #703b9f);
  background-image: -o-linear-gradient(top, #a05edb, #703b9f);
  background-image: linear-gradient(top, #a05edb, #703b9f);
  float: left;
}

/* line 94, ../sass/forms.scss */
.form-submit input:hover, #sign-up .submit:hover {
  background: #be85f0;
  /* old browsers */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #be85f0), color-stop(100%, #8f56c1));
  background-image: -webkit-linear-gradient(top, #be85f0, #8f56c1);
  background-image: -moz-linear-gradient(top, #be85f0, #8f56c1);
  background-image: -o-linear-gradient(top, #be85f0, #8f56c1);
  background-image: linear-gradient(top, #be85f0, #8f56c1);
}

/* line 98, ../sass/forms.scss */
.form-submit input:active, #sign-up .submit:active {
  background: #592d81;
  /* old browsers */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8c52bf), color-stop(100%, #592d81));
  background-image: -webkit-linear-gradient(top, #8c52bf, #592d81);
  background-image: -moz-linear-gradient(top, #8c52bf, #592d81);
  background-image: -o-linear-gradient(top, #8c52bf, #592d81);
  background-image: linear-gradient(top, #8c52bf, #592d81);
}

/* line 102, ../sass/forms.scss */
#error_explanation {
  padding: 30px;
  background: #f5dbd9;
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.9);
  -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.9);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.9);
  color: #d24735;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
}

/* line 109, ../sass/forms.scss */
#error_explanation h2 {
  font-size: 18px;
}

/* line 112, ../sass/forms.scss */
.signup-link {
  float: right;
  text-align: right;
  padding: 0px 10px;
  line-height: 40px;
}
